html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  padding-top: 80px;
  min-width: 320px;
}

body.flush-top {
  padding-top: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 5px 10px;
  line-height: 1.5em;
}

h1, h2 {
  text-align: center;
}

h1 img {
  width: 32px;
}

@media all and (max-width: 768px) {
  .container, .container-fluid {
    padding: 0;
  }
}

@media all and (max-width: 768px) {
  .show-large {
    display: none !important;
  }
}

@media all and (min-width: 768px) {
  .show-small {
    display: none !important;
  }
}

nav {
  text-align: center;
}

.navbar-center {
  position: absolute;
  text-align: center;
  padding-top: 8px;
}

nav .navbar-nav > li > a {
  padding: 5px 0;
}

nav .navbar-nav > li > button {
  padding: 5px 0;
}

.navbar-btn {
  margin: 0;
}

.navbar-nav {
  margin: 0;
}

.navbar-nav > li {
  margin-right: 15px;
}

.navbar-nav > li:last-of-type {
  margin-right: 0;
}

nav li {
  height: 50px;
}

nav img {
  vertical-align: bottom;
}

nav span {
  vertical-align: super;
  margin-left: 2px;
}

@media all and (max-width: 768px) {
  .navbar-nav > li span {
    display: none !important;
  }
  nav {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-nav > li {
    margin-right: 0;
  }
  nav .ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav .navbar-nav > li > a, nav .navbar-nav > li > button {
    padding-left: 15px;
    padding-right: 15px;
  }
}

main.col-sm-8 {
  min-height: 600px;
}

main article:first-child {
  margin-top: 0px;
}

article {
  margin: 40px 0;
  border-width: 5px;
  padding: 10px 40px;
  border-radius: 20px;
  box-shadow: 10px 5px 3px 3px rgba(0, 0, 0, 0.1);
}

article h3 {
  padding: 20px 35px;
  margin: -15px -40px 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  line-height: 1.5em;
}

article h4 {
  padding: 5px;
  line-height: 1.5em;
}

article blockquote {
  border-left: 5px solid #808080;
}

article img {
  padding: 20px 40px;
  max-width: 100%;
  max-height: 100%;
}

@media all and (max-width: 768px) {
  main.col-sm-8 {
    padding: 0;
  }
  article {
    border-radius: 0;
  }
  article h3 {
    border-radius: 0;
  }
}

.avatar-circle {
  border-radius: 50%;
}

.sidebar-module {
  padding: 10px 20px;
  margin: 0 -15px 15px;
  border-radius: 20px;
}

.sidebar-module ol {
  padding: 0 0 20px;
}

.sidebar-module li {
  margin: 5px 0;
}

.sidebar-module li .fa {
  margin: 0 10px 0 0;
}

.sidebar-module li img {
  width: 1.4em;
  margin: 0 10px 0 0;
}

@media all and (max-width: 768px) {
  .sidebar-module {
    border-radius: 0;
  }
}

.form h1 {
  padding: 0;
  margin: 0 0 10px;
}

form > label {
  width: 100%;
}

form > label > div > span {
  text-align: right;
  padding-top: 6px;
  display: inline-block;
}

form > label > div > input {
  width: 100%;
  padding: 6px 12px;
  margin-left: 5px;
  border-radius: 5px;
}

form > label.check > div > input {
  width: auto;
  margin-left: 19px;
  margin-right: 10px;
}

footer {
  padding: 30px 0;
}

footer p:last-child {
  margin-bottom: 0;
}
