<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- DEFAULT VARIABLES -->
    <meta name="color:Background" content="#3b627e" />
    <meta name="font:Title" content="Arial" />
    <meta name="font:Body" content="Arial" />
    <meta name="font:Accent" content="Lucida Sans" />
    <meta name="if:Show People I Follow" content="1" />
    <meta name="if:Show Tags" content="1" />
    <meta name="if:Show Album Art on Audio Posts" content="1" />
    <meta name="text:Disqus Shortname" content="" />
    <meta name="image:Header" content="" />
    <meta name="image:Background" content="" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}{% if searchpage %}, search results for: {{ searchquery }}{% endif %}{% if postsummary %}, {{ postsummary }}{% endif %}</title>
    {% if description %}<meta name="description" content="{{ metadescription }}" />{% endif %}
    <link rel="shortcut icon" href="{{ favicon }}" />
    <link rel="alternate" type="application/rss+xml" href="{{ rss }}" />
</head>
<body>
    <div id="wrapper">
        <div id="title">
            <a href="/">
                {% if ifheaderimage %}<img src="{image:header}" />{% endif %}
                {% if ifnotheaderimage %}{{ title }}{% endif %}
            </a>
        </div>

        <div id="content">

            {% if searchpage %}
                <div id="searchresults" class="searchresultcount">{{ searchresultcount }} results for <strong>"{{ searchquery }}"</strong></div>
            {% endif %}

            {% if nosearchresults %}
                <style type="text/css">
                    .searchresultcount {
                        display: none;
                    }
                </style>
                <div id="searchresults">no results for <strong>"{{ searchquery }}"</strong></div>
            {% endif %}

            {% for post in posts %}
                <div class="post">

                    {% if photo %}
                        <div class="media">{{ linkopentag }}<img src="{{ photourl_500 }}" alt="{{ photoalt }}" />{{ linkclosetag }}</div>
                        {% if caption %}<div class="copy">{{ caption }}</div>{% endif %}
                    {% endif %}


                    {% if video %}
                        <div class="media">{{ video_500 }}</div>
                        {% if caption %}<div class="copy">{{ caption }}</div>{% endif %}
                    {% endif %}

                    {% if audio %}
                        {% if ifshowalbumartonaudioposts %}
                            {% if albumart %}
                                <div class="album_art">
                                    <img src="{{ albumarturl }}" alt="{% if artist %}{{ artist }}{% endif %}{% if trackname %} - {{ trackname }}{% endif %}" style="margin-bottom: 10px" />
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="audio">
                            <div class="player">{{ audioplayerwhite }}</div>
                            <div class="meta">{{ playcountwithlabel }}{% if externalaudio %} &bull; <a href="{{ externalaudiourl }}">download</a>{% endif %}</div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        {% if caption %}<div class="copy">{{ caption }}</div>{% endif %}
                    {% endif %}

                    {% if quote %}
                        <div class="quote {{ length }}">{{ quote }}</div>
                        <div class="copy">
                            <div class="quotebg">“</div>
                            {% if source %}
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td valign="top" style="width: 20px">&mdash;</td>
                                        <td valign="top" class="quote_source">
                                            {{ source }}
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if text %}
                        {% if title %}<div class="title">{{ title }}</div>{% endif %}
                        <div class="copy">{{ body }}</div>
                    {% endif %}

                    {% if answer %}
                        <div class="question">
                            <div class="nipple"></div>
                            {{ question }}
                        </div>
                        <div class="asker_container"><img src="{{ askerportraiturl_24 }}">{{ asker }}</div>
                        <div class="copy">{{ answer }}</div>
                    {% endif %}

                    {% if chat %}
                        {% if title %}<div class="title">{{ title }}</div>{% endif %}
                        <div class="chat">
                            <div class="lines">
                                {% if lines %}
                                    <div class="line {{ alt }}">{% if label %}<strong>{{ label }}</strong>{% endif %} {{ line }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div style="height: 10px"></div>
                    {% endif %}

                    {% if link %}
                        <div class="link"><a href="{{ url }}" {{ target }}>{{ name }} &raquo;</a></div>
                        {% if description %}<div class="copy">{{ description }}</div>{% endif %}
                    {% endif %}

                    {% if date %}
                        <a href="{{ permalink }}">
                            <div class="footer">
                                <div class="date">
                                    {% if reblog %}reblogged{% endif %}
                                    {% if notreblog %}posted{% endif %}

                                    {{ timeago }}

                                    {% if reblog %}from {{ reblogparentname }} {% if rebloggedfromreblog %}(originally from {{ reblogrootname }}){% endif %}{% endif %}
                                    {% if frombookmarklet %}from bookmarklet{% endif %}
                                    {% if frommobile %}from mobile{% endif %}
                                </div>
                                <div class="notes">{% if notecount %}{{ notecountwithlabel }}{% endif %} {% if ifdisqusshortname %}{% if notecount %}&bull;{% endif %} <a href="{{ permalink }}#disqus_thread">view comments</a>{% endif %}</div>
                                <div class="clear"></div>
                            </div>
                        </a>
                    {% endif %}

                    {% if ifshowtags %}
                        {% if hastags %}<div class="footer"><div class="tags">tagged: {% if tags %}<a href="{{ tagurl }}">{{ tag }}</a><span class="tag-commas">, </span>{% endif %}.</div></div>{% endif %}
                    {% endif %}

                    {% if postnotes %}<div class="notecontainer">{{ postnotes }}</div>{% endif %}

                </div>
                <div class="bottom"></div>
            {% endfor %}

            {% if pagination %}
                <div id="navigation">
                    {% if previouspage %}<a href="{{ previouspage }}">&larr; previous page</a>{% endif %}
                    {% if nextpage %}<a href="{{ nextpage }}">next page &rarr;</a>{% endif %}
                </div>
            {% endif %}

        </div>

        <div id="sidebar">
            <div id="top">
                <div id="avatar"><a href="/"><img src="{{ portraiturl_128 }}" /></a></div>
                <div id="description">{{ description }}</div>

                {% if haspages %}
                    <div id="pages">
                        {% if pages %}<a href="{{ url }}" class="page">{{ label }}</a>{% endif %}
                        <div class="clear"></div>
                    </div>
                {% endif %}

                <div id="search">
                    <form action="/search" method="get" id="search-form">
                        <input type="hidden" name="t" value="{{ name }}" />
                        <input type="hidden" name="scope" value="all_of_tumblr" />
                        <input type="text" name="q" class="query" value="{{ searchquery }}" />
                        <input type="submit" value="Search" class="submit" />
                        <div class="clear"></div>
                    </form>
                </div>
                <div id="search-scope">
                    <input type="radio" id="search-scope-me" name="scope" checked onclick="document.getElementById('search-form').action='/search'" /> <label for="search-scope-me" onclick="document.getElementById('search-form').action='/search'">My Blog</label>
                    <input type="radio" id="search-scope-all" name="scope" onclick="document.getElementById('search-form').action='http://tumblr.com/search'" /> <label for="search-scope-all" onclick="document.getElementById('search-form').action='http://tumblr.com/search'">All of Tumblr</label>
                </div>

                <a href="http://www.tumblr.com/follow/{{ name }}"><div class="heading" id="followontumblr">Follow on Tumblr</div></a>

                {% if ifshowpeopleifollow %}
                    {% if following %}
                        <div class="heading" id="following">following</div>
                        <div class="content" id="following-avatars">
                            {% if followed %}<a href="{{ followedurl }}"><img src="{{ followedportraiturl_40 }}" /></a>{% endif %}
                        </div>
                    {% endif %}
                {% endif %}

                <div id="buttons">
                    <div class="row">
                        <div class="button" id="button-rss"><a href="{{ rss }}">RSS Feed</a></div>
                        <div class="button" id="button-random"><a href="/random">Random</a></div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="button" id="button-archive"><a href="/archive">Archive</a></div>
                        <div class="button" id="button-mobile"><a href="/mobile">Mobile</a></div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>

            <div id="bottom"></div>
            <div id="copyright">&copy; {{ copyrightyears }} <a href="http://www.tumblr.com">Powered by Tumblr</a></div>
        </div>

        <div class="clear"></div>
    </div>
</body>
</html>
