<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="{MetaDescription}" />
	<title>{block:SearchPage}{lang:Search results for SearchQuery} - {/block:SearchPage}{block:PostTitle}{PostTitle} - {/block:PostTitle}{Title}</title>

	<link rel="shortcut icon" href="{Favicon}" />
	<link rel="apple-touch-icon" href="{PortraitURL-128}"/>
	<link rel="alternate" type="application/rss+xml" href="{RSS}" />

	<!-- Default Colors -->
	<meta name="color:Background" content="#eee" />
	<meta name="color:Main Text" content="#555" />
	<meta name="color:Sidebar Text" content="#555" />
	<meta name="color:Link" content="#860000" />
	<meta name="color:Sidebar Link" content="#860000" />
	<meta name="color:Navigation Link" content="#555" />

	<!-- Options -->
	<meta name="if:Show Tags" content="1" />
	<meta name="if:Show Archive Link" content="1" />
	<meta name="if:Show Home Link in Navigation" content="1" />
	<meta name="if:Show RSS Link in Navigation" content="1" />
	<meta name="if:Remove White Shadow on Sidebar Text" content="0" />
	<meta name="if:Show Album Artwork on Audio Posts" content="1" />
	<meta name="if:Force Uppercase" content="1" />
	<meta name="if:Show date flag on new dates only" content="0" />
	<meta name="if:Show People I Follow" content="0" />
	<meta name="if:Show Posts I Like" content="0" />
	<meta name="if:Enable Endless Scrolling" content="0" />

	<meta name="text:Random Post Label" content="" />
	<meta name="text:Disqus Shortname" content="" />
        <meta name="text:Google Analytics UA" content="" />


	<style type="text/css">{CustomCSS}</style>

</head>
<body>

<div id="wrap">
	<div id="container">
		<h1 id="title"><a href="/">{Title}</a></h1>

		<a href="{RSS}" id="header-rss"><span>RSS</span></a>

		<form action="/search" method="get" id="header-search-bar">
			<input type="text" name="q" value="{SearchQuery}" id="search-input" />
			<input type="submit" value="Search" id="search-submit" />
		</form>

		<div class="clear"></div>

		<!-- Begin Posts -->
		<div id="left-column">

		{block:TagPage}
			<h2>Posts tagged with <span>"{Tag}"</span></h2>
		{/block:TagPage}

		{block:SearchPage}
			<h2>{SearchResultCount} Results for <span>"{SearchQuery}"</span></h2>
		{/block:SearchPage}

		<div class="autopagerize_page_element">
		{block:Posts}

			{block:IfShowDateFlagOnNewDatesOnly}
			{block:NewDayDate}
			<div class="date">
				<span class="month"><a href="{Permalink}">{ShortMonth}</a></span>
				<span class="day"><a href="{Permalink}">{DayOfMonth}</a></span>
			</div> <!-- .date -->
			{/block:NewDayDate}
			{block:IfShowDateFlagOnNewDatesOnly}

			{block:IfNotShowDateFlagOnNewDatesOnly}
			{block:Date}
			<div class="date">
				<span class="month"><a href="{Permalink}">{ShortMonth}</a></span>
				<span class="day"><a href="{Permalink}">{DayOfMonth}</a></span>
			</div> <!-- .date -->
			{/block:Date}
			{/block:IfNotShowDateFlagOnNewDatesOnly}

			{block:Text}
			<div class="post post-text">
				{block:Title}<h3><a href="{Permalink}">{Title}</a></h3>{/block:Title}
				{Body}
			{/block:Text}

			{block:Photo}
			<div class="post post-photo">
				{LinkOpenTag}<img src="{PhotoURL-500}" alt="{PhotoAlt}" />{LinkCloseTag}
				{block:Caption}{Caption}{/block:Caption}
			{/block:Photo}

			{block:Quote}
			<div class="post post-quote">
				<p class="quote">{Quote}</p>
				<p class="source">{block:Source}- {Source}{/block:Source}</p>
			{/block:Quote}

			{block:Link}
			<div class="post post-link">
				<h3><a href="{URL}" {Target}>{Name}</a></h3>
				{block:Description}
				{Description}
				{/block:Description}
			{/block:Link}

			{block:Chat}
			<div class="post post-chat">
				{block:Title}<h3><a href="{Permalink}">{Title}</a></h3>{/block:Title}
				<ul class="chat">
					{block:Lines}
					<li>{block:Label}<span>{Label}</span> {/block:Label}{Line}</li>
					{/block:Lines}
				</ul>
			{/block:Chat}

			{block:Audio}
			<div class="post post-audio">
				{block:IfShowAlbumArtworkOnAudioPosts}{block:AlbumArt}<img src="{AlbumArtURL}" alt="{Album}" width="75" class="album-art" />{/block:AlbumArt}{/block:IfShowAlbumArtworkOnAudioPosts}
				<div class="audio-player">{AudioPlayerGrey}</div>
				<p class="track-info">{block:TrackName}<strong>{TrackName}</strong><br />{/block:TrackName}{block:Artist}{Artist}{/block:Artist}</p>
				{block:Caption}{Caption}{/block:Caption}
			{/block:Audio}

			{block:Video}
			<div class="post post-video">
				<div class="video-container">{Video-500}</div>
				{block:Caption}{Caption}{/block:Caption}
			{/block:Video}

			{block:Answer}
			<div class="post post-answer">
				<div class="question-top"></div>
				<div class="question">
					<p>{Question}</p>
				</div>
				<div class="question-bottom">
					<p class="asker-info"><img src="{AskerPortraitURL-24}" alt="" class="asker-avatar" /> {Asker}</p>
				</div>

				<div class="answer">
					{Answer}
				</div>
			{/block:Answer}

				<div class="postmeta">
					{block:NotReblog}
					<p class="posttime"><a href="{Permalink}">Posted {TimeAgo}</a></p>
					{/block:NotReblog}
					{block:Reblog}
					<p class="reblogged"><a href="{Permalink}">Reblogged {TimeAgo}</a> from <a href="{ReblogParentURL}">{ReblogParentName}</a></p>
					{/block:Reblog}

					{block:IfDisqusShortname}
					<p class="disqus-count"><a href="{Permalink}#disqus_thread" class="view-comments dsq-comment-count">Comments</a>
					{/block:IfDisqusShortname}

					{block:NoteCount}
					<p class="notes"><a href="{Permalink}#permalink-notes">{NoteCountWithLabel}</a></p>
					{/block:NoteCount}

					{block:IfShowTags}
					{block:HasTags}<p class="tags">{block:Tags}<a href="{TagURL}">{Tag}</a>, {/block:Tags}</p>{/block:HasTags}
					{/block:IfShowTags}
				</div> <!-- .postmeta -->
			</div> <!-- .post -->
			<div class="clear newpost"></div>

		{/block:Posts}
		</div> <!-- .auto_pagerize_element -->

			{block:Permalink}
			<div id="share-links">
                            <div id="share-twitter">
				<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
                            </div>

                            <div id="share-facebook">
				<div id="fb-root"></div>

                                <div class="fb-like" data-send="true" data-layout="button_count" data-width="150" data-show-faces="false"></div>
                            </div>

                            <div id="share-google">
                                <g:plusone size="medium"></g:plusone>
                            </div>
			</div>
				{block:IfDisqusShortname}
				<div id="disqus_thread">
				</div>
				<div class="disqus-credit">
					{lang:Blog comments powered by Disqus 2}
				</div>
				{/block:IfDisqusShortname}

				{block:PostNotes}
				<div id="permalink-notes">
					{PostNotes}
				</div> <!-- .permalink-notes -->
				{/block:PostNotes}
			{/block:Permalink}

		{block:Pagination}
			<div id="pagination">
				{block:PreviousPage}<a href="{PreviousPage}" class="prev-page">&larr; Prev Page</a>{/block:PreviousPage}
				{block:NextPage}<a href="{NextPage}" class="next-page">Next Page &rarr;</a>{/block:NextPage}
			</div> <!-- #pagination -->
		{/block:Pagination}
		</div> <!-- #left-column -->

		<!-- Sidebar -->
		<div id="right-column">
			<div class="sidebar-box" id="about-box">
				<img src="{PortraitURL-48}" alt="{Title}" id="avatar" />
				<p class="about-title"><span>{lang:About}</span> {Title}</p>
				<div class="blog-description">
					{Description}
				</div> <!-- .blog-description -->
			</div> <!-- .sidebar-box -->

			<div class="sidebar-box">
				<ul id="sidebar-nav">
					{block:IfShowHomeLinkInNavigation}<li><a href="/">Home</a></li>{/block:IfShowHomeLinkInNavigation}
					{block:HasPages}{block:Pages}<li><a href="{URL}">{Label}</a></li>{/block:Pages}{/block:HasPages}
					{block:AskEnabled}<li><a href="/ask">{AskLabel}</a></li>{/block:AskEnabled}
					{block:SubmissionsEnabled}<li><a href="/submit">{SubmitLabel}</a></li>{/block:SubmissionsEnabled}
					{block:IfRandomPostLabel}<li><a href="/random">{text:Random Post label}</a></li>{/block:IfRandomPostLabel}
					{block:IfShowArchiveLink}<li><a href="/archive">Archive</a></li>{/block:IfShowArchiveLink}
					{block:IfShowRSSLinkInNavigation}<li><a href="{RSS}">RSS Feed</a></li>{/block:IfShowRSSLinkInNavigation}
				</ul>
			</div> <!-- .sidebar-box -->

			{block:IfShowPostsILike}
			{block:Likes}
			<div class="sidebar-box" id="likes">
				<h3>Posts I Like</h3>
				{Likes limit="5" width="250"}
			</div>
			{/block:Likes}
			{/block:IfShowPostsILike}

			{block:IfShowPeopleIFollow}
			<div class="sidebar-box" id="following">
				<h3>People I Follow</h3>
				{block:Following}
				<ul class="people-following">
					{block:Followed}<li><a href="{FollowedURL}" title="{FollowedTitle}"><img src="{FollowedPortraitURL-30}" alt="{FollowedTitle}" /></a></li>{/block:Followed}
				</ul>
				{/block:Following}
				<div class="clear"></div>
			</div>
			{/block:IfShowPeopleIFollow}

			<div class="sidebar-box last-sidebar"></div>
		</div> <!-- #right-column -->

		<div class="clear"></div>
	</div> <!-- #container -->

	<div id="footer">
		<div id="footer-inner">
			<p>Copyright &copy; {CopyrightYears} <a href="/">{Title}</a>. Powered by <a href="http://www.tumblr.com">Tumblr</a>.
			Simple Things theme by <a href="http://www.danhauk.com">Dan Hauk</a>.</p>
		</div> <!-- #footer-inner -->
	</div> <!-- #footer -->
</div> <!-- #wrap -->


</body>
</html>
